.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*
  Base Template CSS Styles
*/
#logo {
    width: 100px;
    height: 100px;
}

#userDisplay {
    text-align: right;
    padding-right: 55px;
}

.searchBar {
    display: inline;
}

#search {
    margin-left: 100px;
}


/*
    Index CSS Styles
*/
.menu {
    background: white;
    color: black;
    margin-left: 15px;
}

#platforms {
    margin-bottom: 15px;
}

/* Menu Button Links */
a:active, a:hover {
    color: white;
    background: black;
}

/* Menu Button Links */
a {
    color: black;
}

.fileLinks {
    color: blue;
}

a.fileLinks:hover {
    color: white;
    background: blue;
}

/* Active Button Link */
#pressed {
    color: white;
    background: black;
}

.mainDisplay {
    margin-top: 20px;
    width: 950px;
    height: 400px;
    background: lightgrey;
}

#textDisplay {
    margin-top: 10px;
    margin-right: 15px;
    padding: 10px;
    height: 200px;
    background: lightgrey;
}

/*
    Configuration CSS Styles
*/

#mainArea {
    margin-top: 20px;
    width: 1250px;
    height: 470px;
    background: lightgrey;
}

/*
    Hackathon Side Menu
*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
}

.nav-pills .nav-link {
    color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
}

.nav-link:hover{
    color: white;
}

#logoutButton {
    float: right;
}

#logoutButton:hover {
    background-color: black;
}

.HelpText {
    text-align: center;
}